# Ignorar diretório de build do Rust
/target/

# Ignorar configurações de IDE
**/.idea/

# Ignorar placeholders
*.gitkeep

# Ignorar diretório de instaladores (se aplicável)
install-developers/

#Ignora arquivos no diretorio de compilação ou seja o que recebe os arquivos compilados
target/*
